* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

header {
  background-color: hsl(0, 0%, 18.82%);
}

body {
  font-family: Helvetica, arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: hsl(0, 0%, 15%);
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

nav .menu ul {
  display: flex;
}

nav ul li a {
  margin-left: 2rem;
  text-decoration: none;
  color: white
}

li {
  list-style-type: none;
}


/* ============ SCREEN 1 - TWITTER ============ */
#twitter-home img {
  max-width: 100%;
}

#twitter-home .grid{
  display: grid;
  grid-template-rows: 1fr 2fr
}

.noticias {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.bermudas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.berma {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.berma img {
  width: 50%;
}

.berma span {
  margin-left: 10px;
}

.propaganda p {
  text-align: center;
}

.propaganda img {
  min-height: 280px;
}

.noticias p,
.propaganda p {
  margin-top: 10px;
}


/* ============ SCREEN 2 - GALERY ============ */
nav.galery {
  padding: 0;
}

#galery {
  padding: 40px;
  text-align: center;
}

#galery h1 {
  padding-bottom: 20px;
}

#galery p {
  padding-top: 9px;
}

#galery .grid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 50px 20px;
}


/* ============ SCREEN 3 - YOUTUBE ============ */
#youtube-watching .grid {
  display: grid;
  grid-template-columns: 4fr 1fr;
  margin-top: 40px;
  gap: 20px;
}

.watching {
  max-height: 50vh;
}

.watching p {
  margin-top: 20px;
}

.watching iframe {
  width: 100%;
  height: 100%;
}

.recomends {
  display: grid;
  gap: 20px;
}

.recomends p {
  margin-top: 5px;
}

/* ============ SCREEN 4 - INTER ============ */
header .inter {
  padding: 0.5rem 0rem;
}

#inter .grid {
  display: grid;
  height: 648px;
  grid-template-columns: 50% 50%;
  gap: 20px;
  margin-top: 40px;
}

.news-1, 
.news-2,
.news-3 {
  display: flex;
  align-items: end;
  width: 100%;
  height: 100%;
  background: url(./assets/Carrossel_ServicoDeJogoIngressos_InterVsCoritiba_Brasileirao2022_14Rodada_2106.png);
  background-position: center;
}

#inter p {
  width: 100%;
  padding: 10px;
  padding-left: 20px;
  background-color: #000000;
}

.aside-news {
  display: grid;
  gap: 20px;
}

.news-2 {
  background: url(./assets/CAPA_treino_220622.jpg);
}

.news-3 {
  background: url(./assets/Carrossel_CeleiroDeAses_FotoJotaFinkler_BrasileiraoSub20_InterVsAthleticoPR_Vitoria_3a1_2506.png);
}

